branca==0.6.0
colorama==0.4.6
Fiona==1.9.4.post1
folium==0.14.0
geojson==3.0.1
geopandas==0.13.2
ipython==8.10.0
matplotlib==3.7.2
nltk==3.8.1
numpy==1.25.0
palettable==3.3.3
pandas==2.0.2
pipreqs==0.4.13
pymongo==4.4.0
PyMySQL==1.1.0
requests==2.31.0
seaborn==0.12.2
SQLAlchemy==2.0.17
streamlit==1.24.1
streamlit-folium==0.13.0
stylecloud==0.5.2
textblob==0.17.1